// css reset -- styles that are not directly related to this project
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  background-color: #f7fff9;
}
h1,
h3 {
  margin: 0;
}
h1 {
  font-size: 1.5em;
  @media (min-width: 768px) {
    font-size: 2em;
  }
}
h2 {
  margin: 0 0 30px;
  color: #f59302;
}
a {
  background-color: transparent;
}
b,
strong {
  font-weight: 700;
}
img {
  border-style: none;
  max-width: 100%;
}
hr {
  border: 0;
  border-top: 2px dashed #009a68;
}
section {
  padding: 90px 15px;
  &:nth-child(odd) {
    background-color: #def9ff;
  }
}
.banner {
  background-color: #99030d;
  color: #ffffff;
  padding: 45px 15px;
  a {
    color: #ff9800;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
footer {
  background-color: #193549;
  padding: 45px 15px;
  p {
    color: #ffffff;
    margin: 0;
    text-align: center;
    a {
      color: #ffc600;
      text-decoration: none;
    }
  }
}
.col {
  background-color: #e6e6e6;
  border: 1px solid #b5b3b3;
  padding: 20px 0;
  h3 {
    margin: 0 15px 5px;
  }
  img {
    width: 100%;
  }
  p {
    margin: 10px 15px 0;
  }
}
// ============== project related css ========================//

// using flexbox
.two-col-using-flexbox {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  .col {
    flex-basis: 47%;
    &:first-child {
      margin-bottom: 60px;
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }
}

// using grid
.two-col-using-grid {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 6%;
  }
  .col:first-child {
    margin-bottom: 60px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

// using float
.two-col-using-float {
  box-sizing: border-box;
  overflow: hidden;
  .col {
    @media (min-width: 768px) {
      float: left;
      width: 47%;
    }
    &:first-child {
      margin-bottom: 60px;
      @media (min-width: 768px) {
        margin-right: 6%;
        margin-bottom: 0;
      }
    }
  }
}
